{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
            <h5 class="card-header">Noticias</h5>
        <div class="card-body">
            <p class="card-text"> 
                <p>Fique por dentro dos eventos relacionados ao nosso Calendário Acadêmico.</p>
                <p>14/05/2021 - 21/05/2021 · Matrícula para o período 2021.1.</p>
                <p>07/06/2021 · Início do período letivo 2021.1.</p>    
                
            </p>
            <a href="https://sigaa.ufrn.br/sigaa/public/curso/calendario.jsf?lc=pt_BR&id=7191770"
            class="btn btn-info">Saiba mais!</a>
        </div>
    </div>
    <div class="card my-4">
            <h5 class="card-header">Eventos</h5>
        <div class="card-body">
            <p class="card-text"> 
                <p>Fique por dentro dos eventos relacionados ao nosso Calendário Acadêmico.</p>
                <p>14/05/2021 - 21/05/2021 · Matrícula para o período 2021.1.</p>
                <p>07/06/2021 · Início do período letivo 2021.1.</p>    
                
            </p>
            <a href="https://sigaa.ufrn.br/sigaa/public/curso/calendario.jsf?lc=pt_BR&id=7191770"
            class="btn btn-info">Saiba mais!</a>
        </div>
    </div>
</div>

{% endblock sidebar %}