<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>BsIn</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Bem Vindo ao BsIn !!</h1>
  <p>Faça seu login ou cadastra-se e tenha todas as informações e dicas do BSI-Ceres.</p> 
</div>
  
<div class= "container align-self-center d-flex justify-content-center">
    <div class = "card" style = "width:400px">
        <div class = "card-body">
            <form action = "submit", method = "POST">
                {%csrf_token%}
                <h2>BsIn</h2>
                <div class = "form-group">
                    <label for = "username">Usúario</label>
                    <input type = "text", class = "form-control" id = "username" name = "username" placeholder = "E-mail"></input>
                </div>
                <div class = "form-group">
                    <label for = "password">Password</label>
                    <input type = "password", class = "form-control"id = "password" name = "password" placeholder = "Password"></input>
                </div>
                <div class = "container align-self-center d-flex justify-content-center">
                    <p>Cadastre-se</p>
                </div>
                <div class = "container align-self-center d-flex justify-content-center">
                    <button type="submit" class="btn btn-dark">Entrar</button>
                </div>
            </form>
            {%for message in messages%}
                <div class="alert alert-danger">
                        <strong>Ops!</strong> {{ message }}
                </div>
            {%endfor%}
        </div>
    </div>

</div>

</body>
</html>