{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Cadstro{% endblock %}

{% block content %}

   <br>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card auth-card">
                <div class="card-body">
                    <h2>Novo Usuário</h2>
                    <form method = "POST" enctype="multipart/form-data">
                        <div class = "form-group">
                            {% csrf_token %}
                            {{  form_usuario | crispy }}
                        </div>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                            
                    </form>
                </div>
            </div>         

        </div>
        
    </div>

{% endblock %}
